.Rproj.user
.Rhistory
.RData
.Ruserdata
/CloseSet_Dataset/*
/FeatureData/*
/FeatureCloseSet/*
/FeatureOpenset/*
/FeatureFoolingImage/*
/S_P_Openset/*
/S_P_Closeset/*
/HackedImage/*
/Dataset/*
/preprocress/distance/*
/preprocress/mean/*
/BestWeight/*
/weights/*
*.pic
*.pyc
*.tfrecords
*.txt
Original/
Graph/
Evaluate/*.csv
